a, a:hover, a:visited { color: #943bd3;
    text-decoration: none;
}

body {
    margin: 10px 0 0 20px;
    background: radial-gradient(circle, rgb(14, 2, 26) 23%, rgb(2, 9, 27) 100%);
    min-height: 600px;
    color: #7e777a;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 18px;
text-transform: capitalize;
max-width: 1272px;
border: 2px solid#C9A9B9;
border-radius: 8px;}

footer {
    font-size: 16px;
    text-align: center;
    margin-top: -82px;
color: #f2efd0;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif}

h5 {position: relative;
bottom: 110px;
margin: none;}

input, textarea { 
     padding: 5px;
    background: #322f3d;
    color: #f2efd0;
border: 1px solid #a58b98;}

ul {list-style: none;}

.btn {min-width: 118.109px;}

.celsius-farenheit {padding: 5px 0 0 10px;}

.col- {max-width: 210px;
    margin-left: 28px;
    margin-right: 20px;}

.container {
    margin-left: 0;}

.currenticons {
    position: relative;
    top: -102px;
    right: 5px;
    color: #a58b98;
    width: 375px
}

.currenticons img {margin-left: 30px;
min-width: 135px;
min-height: 135px;}

.currentSpecifics {
position: relative;
bottom: 115px;
right: 30px;
    color: #f2efd0;
    font-size: 17px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif}

.dateStamp {font-size: 26px;
white-space: nowrap;}

.farenheit {color: #f2efd0;
        cursor: default;
        text-decoration: none;}

 .farenheit:hover {text-decoration: none;
    cursor: default;
    color: #f2efd0;}
    
.farenheit:visited {color: #f2efd0;
    cursor: default;
    text-decoration: none;}


.forecast2
{
    font-size: 12pt;
    transition: all 100ms ease-in-out;
}

.forecast3 {
    transition: all 100ms ease-in-out;}

    .forecast4 {
        transition: all 100ms ease-in-out;}

.forecast3:hover, .forecast4:hover, .forecast5:hover, 
.forecast6:hover, .forecast2:hover  {background: #5b394b}

           
.forecast5, .forecast6 {
    min-width: 232.188px;
        transition: all 100ms ease-in-out;}

.hereNow { font-size: 50px;}

.high-and-low {position: relative;
left: 10px;
font-size: 52px;}

#icon2, #icon3, #icon4, #icon5, 
#icon6 {position: relative;
            right: 10px;}

.inputBars {padding: 30px 0 0 800px; 
    width: 100%;
    white-space: nowrap;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif}
    


.right {float: right;}

.row {position: relative; 
    bottom: 170px;
    display: flex;
    max-width: 1380px;}



    .statusNow {font-size: 35px;
        color: rgb(221, 201, 253);}
        
    
.submitlocations h4 {
        margin: 5px 0 0 1040px;
        font-size: 13px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
    }
    
 

.thislocation {text-align: center;
        position: relative;
        left: 280px;
        bottom: 400px;
        color: #c9a9b9;
        max-width: 400px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif}

.temp6, .temp5 { position: relative;
            top: 45px;
            right: 60px;}