a, a:hover, a:visited { color: #943bd3;
    text-decoration: none;
}

body {
    margin-left: 25px;
    background: radial-gradient(#322f3d,#15051e);
    color: #7e777a;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 18px;
text-transform: capitalize;
max-width: 1250px;}

footer {
    font-size: 16px;
    text-align: center;
    margin-top: -32px;
color: #f2efd0;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serifs}

h5 {position: relative;
bottom: 110px;
margin: none;}

input, textarea { 
     padding: 5px;
    background: #322f3d;
    color: #f2efd0;
border: 1px solid #a58b98;}

ul {list-style: none;}

.currenticons {
    position: relative;
    top: -102px;
    color: #a58b98;
    width: 375px
}

.currentSpecifics {
position: relative;
bottom: 105px;
right: 30px;
    color: #f2efd0;
    font-size: 17px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif}

.farenheit {color: #f2efd0;
        cursor: default;
        text-decoration: none;}

 .farenheit:hover {text-decoration: none;
    cursor: default;
    color: #f2efd0;}
    
.farenheit:visited {color: #f2efd0;
    cursor: default;
    text-decoration: none;}


.friday
{margin: -170px 0 55px 8px;
    width: 285px;
    font-size: 12pt;
    transition: all 100ms ease-in-out;
}

.fridayrain {position: relative;
    bottom: 150px;
right: 970px;}

.fridayrain, .saturdayrain, .sundayrain, 
.mondayrain, .tuesdayrain {
    color: #f2efd0;
    font-family: arial, sans-serif}


#fridaySun, #saturdaySun, #sundaySun, #mondaySun, 
#tuesdaySun {position: relative;
            right: 10px;}

.hereNow { font-size: 33px;}

.inputBars {padding: 30px 0 0 810px; 
    width: 100%;
    white-space: nowrap;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif}
    
           
.monday, .tuesday {
    margin: 10px 0 60px 18px;
        transition: all 100ms ease-in-out;}

.mondayrain, .tuesdayrain {position: relative;
bottom: 150px;
left: 180px;}


.right {float: right;}

.saturday {margin: 5px 0 0 18px;
    transition: all 100ms ease-in-out;
    position: relative;
top: 5px;}


.saturday:hover, .sunday:hover, .monday:hover, 
.tuesday:hover, .friday:hover  {background: #5b394b}

.saturdayrain, .sundayrain {position: relative;
    bottom: 100px;
    right: 20px;}
    
.submitlocations h4 {
        margin: 5px 0 0 1047px;
        font-size: 13px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
    }
    
.sunday {
     margin: 10px 0 0 30px;
    transition: all 100ms ease-in-out;}
 
.tempnow {
    font-size: 22px;
        }
.thislocation {text-align: center;
        position: relative;
        right: 250px;
        bottom: 270px;
        color: #c9a9b9;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif}

.tuesdayTemp, .mondayTemp { position: relative;
            top: 45px;
            right: 60px;}