body {
    margin-left: 25px;
    background: radial-gradient(#322f3d,#15051e);
    color: #7e777a;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 18px;
text-transform: capitalize;
max-width: 1250px;}


a, a:hover, a:visited { color: #943bd3;
    text-decoration: none;
}

a {text-decoration: underline;}

input, textarea { 
     padding: 5px;
    background: #322f3d;
    color: #f2efd0;
border: 1px solid #a58b98;}

ul {list-style: none;}


footer {
    font-size: 16px;
    text-align: center;
    margin-top: -32px;
color: #f2efd0;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serifs}

h5 {
    display: block;
    position: relative; 
    bottom: 190px;};

.tempnow {
    font-size: 22px;
}

.hereNow { font-size: 33px;}

.currentspecifics {
    margin: -280px 0 0 -40px;
    color: #f2efd0;
    font-size: 17px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif}

.friday
{margin: 50px 0 50px 8px;
    width: 285px;
    font-size: 12pt;
    transition: all 100ms ease-in-out;
}

.fridayrain {
    position: relative;
    bottom: 150px;
    left: 120px;
   }
   
   .fridayrain, .saturdayrain, .sundayrain, 
   .mondayrain, .tuesdayrain {
       color: #f2efd0;
       font-family: arial, sans-serif}
   
   .saturdayrain {
   position: relative;
   bottom: 95px;
   left: 130px;
   }
   .sundayrain{
    position: relative;
    bottom: 100px;
    left: 140px;
   }
   
   .mondayrain, .tuesdayrain { 
       position: relative;
       bottom: 155px;
       left: 130px;
   }
   
   .tuesdayTemp, .mondayTemp { position: relative;
   top: 45px;
   right: 60px;}
.inputBars {padding: 30px 0 0 810px; 
width: 100%;
white-space: nowrap;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif}


  .submitlocations h4 {
    margin: 5px 0 0 1047px;
    font-size: 13px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

.currenticons {
    position: relative;
    top: -102px;
    color: #a58b98;
    width: 375px

}

.thislocation {text-align: center;
    position: relative;
right: 200px;
bottom: 190px;
    color: #c9a9b9;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif}

.monday, .tuesday {
margin: 10px 0 60px 18px;
    transition: all 100ms ease-in-out;}

.sunday {
margin: 10px 0 0 30px;
transition: all 100ms ease-in-out;}

.saturday {margin: 5px 0 0 18px;
    transition: all 100ms ease-in-out;
    position: relative;
top: 5px;}


.saturday:hover, .sunday:hover, .monday:hover, 
.tuesday:hover, .friday:hover  {background: #87556f}

.farenheit:hover {text-decoration: none;
    cursor: default;
    color: #f2efd0;}

    .farenheit {color: #f2efd0;
        cursor: default;
    text-decoration: none;}

    .farenheit:visited {color: #f2efd0;
        cursor: default;
    text-decoration: none;}
    #fridaySun, #saturdaySun, #sundaySun, #mondaySun, #tuesdaySun {position: relative;
        right: 10px;}
    